*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width: none;

    /* fonts */
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 20px;
    color: #4b4b4b;
}
html{
    scroll-behavior: smooth;
}
body{
    padding-top: 70px;
}
.main{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(234, 234, 234);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 5vw 0px 5vw;
}
a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
}
header .img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-image: url(https://i.pinimg.com/236x/c2/dd/e8/c2dde86959f5baccb229cdc23a30c5df.jpg);
    background-position: center;
    background-size: cover;
}
.home{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 0px 5vw 0vh 5vw;
}
.home .hello{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* flex-direction: column; */
    margin-top: 50px;
    /* background-color: #000; */
}
.hello .img{
    display: inline-flex;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFa0XdYtBk629cMpDR5iS644vVwblg-AVrfa8YO9y1SLVscmOp-ATGLZjn&s=10);
    width: 55px;
    height: 55px;
    background-size: 380%;
    background-position: 50% 41.5%;
    overflow: hidden;
}
.hello .title{
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 40px;
    line-height: 50px;
    overflow: hidden;
    /* text-shadow: #000000 2px 2px 0px; */
    color: #d40000;
    padding: 5px;
    width: 100%;
    overflow: hidden;

    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"GRAD" 0;
}
.hello .hi{
     background: linear-gradient(to right , #4c7368 70%, rgba(182, 141, 141, 0.086) , rgba(255, 255, 255, 0));
    /* border-bottom: #ff6600 solid 4px; */
    border-radius: 50px;
    padding: 4px 10px 0px 15px;
    width: 100%;
}
.hello h1{
    font-size: 30px;
    line-height: 40px;
    display: block;
    color: #f7f3f3;
    overflow: hidden;
}
.hello .user{
    color: #fcfbfb;
    font-size: 30px;
    line-height: 40px;
}
.hello p{
    font-size: 30px;
    line-height: 40px;
    /* background-color: #00000065; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    overflow: hidden;
}
 .back{
    margin-top: 10vh;
    margin-bottom: 40px;
    border-left: #d40000 solid 4px;
    padding-left: 5px;
 }
 .back h2{
    overflow: hidden;
    font-size: 18px;
    line-height: 28px;
 }
 .back h2 span{
    color: #680000c8;
    font-weight: bold;
 }
 .files{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    /* background-color: #000; */
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 5px;
 }
 .title{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    width: 100%;
    height: 70px;
 }
 .title i{
    font-size: 30px;
    color: #005a57;
 }
 .files .file{
    width: 100%;
    height: 55px;
    /* background-color: #defcff7c; */
    border-radius: 15px;
    /* border: #006b70 solid 2px; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    box-shadow: #00000038 2px 2px 5px 0px;

 }
 .files .file h3{
    background-color: white;
    padding: 0px 20px 0px 20px;
    border-radius: 50px;
        /* box-shadow: #0000006c 2px 2px 5px 0px; */

 }
 .files span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 100%;
    width: 120px;
    /* background-color: #000; */
 }
 .files .file i{
    width: 40px;
    height: 40px;
    /* background-color: #ffffff; */
    border-radius: 10px;
    /* color: #006b70; */
    color: #00575c;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: #0000006c 2px 2px 5px 0px; */
 }
 .video{
    width: 100%;
    height: 280px;
    margin-top: 10px;
    border: #d4000081 solid 2px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: #4b4b4b49 10px 10px 5px 0px;
    cursor: pointer;

    background-image: url(https://scontent.fcai19-12.fna.fbcdn.net/v/t39.30808-6/531593324_700817079625299_4419968111286588574_n.jpg?stp=dst-jpg_tt6&cstp=mx1600x872&ctp=s1600x872&_nc_cat=108&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=2DU96TKZwCUQ7kNvwHavnHh&_nc_oc=AdolheoFkfd3O-1OjSbOHZvgYyVt1jtWlbtouv7SyJ7kQGvowt5RFYoQY7pi-_XCaV8&_nc_zt=23&_nc_ht=scontent.fcai19-12.fna&_nc_gid=3ITfJXDxL-0bvdy9TxQGCA&_nc_ss=7b2a8&oh=00_AQOch0GO1ZgnMWSGwfTikjnlBc-xEi1yji9pFh49z6za6w&oe=6AC477F5);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: 0.4s;

 }

#v-1 {
    position: relative;
    transition: 0.4s;
}
#v-1.flipped {
    transform: rotateY(180deg);
}

#v-1 .front-c{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
}
#v-1 .back-c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#v-1 .front-c {
    transform: rotateY(0deg);
}

#v-1 .back-c {
    transform: rotateY(180deg);
}




#v-2 {
    position: relative;
    transition: 0.4s;
}
#v-2.flipped {
    transform: rotateY(180deg);
}

#v-2 .front-c2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
}
#v-2 .back-c2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#v-2 .front-c2 {
    transform: rotateY(0deg);
}

#v-2 .back-c2 {
    transform: rotateY(180deg);
}

 .video .run{
    width: 100%;
    height: 280px;
    background-color: #191919d3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .video .info{
   width: 100%;
   height: 20%;
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 10px;
   /* background-color: #000; */
   padding: 0px 10px 0px 10px;
   color: #ffffff;
 }
 .info h2{
   background-color: white;
   padding: 0px 20px 0px 20px;
   border-radius: 100px;
 }
 .video .more{
   width: 100%;
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   padding: 10px 20px 50px 20px;
   color: #ffffff;
 }
 .more i{
   background-color: rgba(255, 255, 255, 0.227);
   width: 50px;
   height: 50px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
 }
 .rood{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

    width: 100%;
    height: 280px;
    /* border: #004458 solid 2px; */
    /* border-radius: 30px; */
    background-color: #ffffff;
 }
 .global{
   background-color: #94a09c;
   width: 100%;
   min-height: 55px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 0px 0px 30px 0px;
   color: #fafafa;
   padding: 0px 8.5px 0px 20px;
 }
 .global a{
   color: #003747;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   background-color: #f7f5f5;
   padding: 0px 20px 0px 20px;
   border-radius: 50px;
 }
  .global a .img{
   background-image: url(https://cdn-icons-gif.flaticon.com/19009/19009696.gif);
   background-position: center;
   background-size: cover;
   width: 35px;
   height: 35px;
   border-radius: 40px;
  }
 .rood-2{
   display: flex;
   align-items: center;
   justify-content: center;

    width: 100%;
    height: 220px;
    height: max-content;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 100px;
    /* background-color: #000; */
 }
 .rood .r{
   width: 100%;
   height: max-content;
   display: flex;
   align-items: start;
   justify-content: start;
   flex-direction: column;
   gap: 10px;
   padding-left: 0px;
   padding-right:20px;
   padding-top: 50px;
   padding-bottom: 50px;
 }
 .r .case{
   width: 100%;
   height: 45px;
   line-height: 40px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px 20px 5px 20px;
   border-radius: 10px;
   background-color: #0083860f;
   box-shadow: #0000001c 5px 5px 2px 0px;
   color: #282727;
 }
 .r .time{
   overflow: hidden;
 }
 .r .arrow{
   width: 30px;
   height: 30px;
   border-radius: 100px;
   /* background-color: #007f8d; */
   background-size: cover;
 }
 .rood .doots{
   width: 50px;
   height: max-content;
   /* background-color: #581e1e; */
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-top: 50px;
   padding-bottom: 50px;
 }
 .doots .doot{
   width: 100%;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .doot .ball{
   width: 20px;
   height: 20px;
   background-color: #00ae7c;
   box-shadow: #00d9ff88 0px 0px 0px 3px;
   border-radius: 20px;
 }
 .doots .hr{
   height: 30px;
   width: 3px;
   border: none;
   background-color: rgba(0, 0, 0, 0.56);
 }
 /* .gallery{
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
 }
 .gallery .title .img{
    width: 55px;
    height: 50px;
    background-image: url(https://cdn-icons-gif.flaticon.com/19005/19005418.gif);
    background-position: 50% 40%;
    background-size: 110%;
    position: relative;
    bottom: 10px;
 }
 .gallery .images{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/24032504/pexels-photo-24032504.jpeg);
    background-position: bottom;
    background-size: cover;
    border-radius: 30px;
 }
 .gallery .sleep{
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 20px;
 } */
 .dev{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #00849e;
    /* background-color: #000000; */
    margin-bottom: 5vh;
    
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
 }
 .dev span{
    border: #00000000 solid 3.5px;
    border-bottom: #000000 solid 3.5px;
    color: #000000;
    /* border-bottom: #007fa2 solid 3.5px;
    color: #007fa2; */
    border-radius: 100px;
    font-size: 28px;
    padding-top: 15px;
    display: inline-flex;
    /* background-color: #000000; */
    line-height: 55px;
 }
 .media{
   width: 100vw;
   height: max-content;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding: 20px 5vw 20px 5vw;
   background-color: #00000019;
   border-radius: 30px 30px 0px 0px;
 }
 .media a{
  min-width: 140px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   font-size: 16px;
   /* background-color: #000; */
 }
 .media i{
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   font-size: 18px;
   border-radius: 10px;
   /* border: #004869 solid 2px; */
   background-color: #000000;
   color: #ffffff;
 }
 footer{
    width: 100vw;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(234, 234, 234);
    padding: 0px 5vw 0px 5vw;
 }
 footer h2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 70px;
  font-size: 16px;
  color: #000000;
 }

































 .intro{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;
    backdrop-filter: blur(5px);
    background-color: #ffffff49;
    padding-top: 70px;
    transition: 1s;
 }
 .user-input{
    background-color: #ffffff;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
 }
 .user-input .dev{
    margin-bottom: 3vh;
    margin-top: 3vh;
 }
 .user-input input{
    width: 350px;
    height: 55px;

    background-color: #007f8d34;
    border: #00849e solid 3px;
    padding: 0px 20px 0px 20px;
    color: #003042;
    border-radius: 20px;
    outline: none;
 }
 .user-input input::placeholder{
    color: #002c3c;
 }
 .user-input .btn{
    cursor: pointer;
    width: 350px;
    height: 55px;
     background-color: #00849e;
    border: #007f8d solid 3px;
    padding: 0px 20px 0px 20px;
    color: #ffffff;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
 }